<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>堆糖，美好生活研究所</title>	
	<link rel="stylesheet" type="text/css" href="__CSS__/comment.css">
	<link href="__ROOT__/favicon.ico" rel="SHORTCUT ICON">
	<script type="text/javascript" src="__JS__/jquery.js"></script>
</head>
<body>
	<div class="banner"><img src="__IMG__/banner.jpeg"></div>
	<div class="content clearfix">
		<h3>-本期奖品-</h3>
		<div class="prize">
			<ul>
				<li><img src="__IMG__/1.png">&nbsp;&nbsp;&nbsp;一等奖</li>
				<li><img src="__IMG__/2.png">&nbsp;&nbsp;&nbsp;二等奖</li>
				<li><img src="__IMG__/3.png">&nbsp;&nbsp;&nbsp;三等奖</li>
			</ul>
			<div>
				<img src="__IMG__/one.png">
				<img src="__IMG__/two.png">
				<img src="__IMG__/three.png">
			</div>
			<div>
				<p>BOTANIST无硅植物洗护套装</br><span>价值249元</span></p>
				<p>MUID创意云朵LED声控闹钟</br><span>	价值99元</span></p>
				<p>墙贴毛毡垫</br><span>价值68元</span></p>
			</div>
		</div>
		<div class="comment clearfix">
			<div class="done clearfix">
				<h4>热门评论</h4>
				<div class="user">
					<img src="__IMG__/user3.jpeg">
					<i class="up red_up">18</i>
					<div class="detail">
						<p>狐半仙 主题:身高 版块:研究同好会</br><span>11月2日</span></p>
						<p id="say"> 就242斤瘦到130斤<br>用了6个月瘦了112斤<br>可是我作为女生身高180太高了<br>体重130还是太重了</p>
						<div>
							<p><span>晚安茶蘼:</span>怎么瘦的</p>
							<p><span>甜味仙女若慕青:</span>吃的啥长那么高？是撒化肥的吗</p>
						</div>
					</div>
				</div>
				<div class="user">
					<img src="__IMG__/user1.jpeg">
					<i class="up red_up">8</i> 
					<div class="detail">
						<p>黑芝麻狐</br><span>9月16日 10:36</span></p>
						<p id="say">一等奖的名字写错了</p>
						<div>
							<p><span>丧尸围城:</span>可怕......</p>
						</div>
					</div>
				</div>
				<div class="user">
					<img src="__IMG__/user4.jpeg">
					<i class="up">1</i>
					<div class="detail">
						<p>可爱的小鱼麻嘛</br><span>9月17日 22:41</span></p>
						<p id="say">晚饭不准时吃，我的肠胃受不了，肚子会疼的要死，所以，还是让我壮点吧</p>
					</div>
				</div>
				<div class="user">
					<img src="__IMG__/user5.jpeg">
					<i class="up">2</i>
					<div class="detail">
						<p>初寻初觅</br><span>9月17日 21:22</span></p>
						<p id="say">看了评论怎么感觉自己瘦的好轻易，，脚扭了然后一直吃了睡睡了吃从九十八斤瘦到现在的八十二斤， 当然后遗症就是肉松弛，就一直举腿靠墙站完美恢复过来依旧八十二</p>
					</div>
				</div>
				<div class="page">
					<ul>
						<li><button>< 上一页</button></li>
						<li><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">...</a></li>
						<li><button>下一页 ></button></li>
					</ul>
				</div>
			</div>
			<div class="do clearfix">
				<h4>我的评论</h4>
				<form>
					<textarea placeholder="写下你的评论...." rows="5" cols="40"></textarea>
					<img src="__IMG__/comment.png">
					<button onclick="">评论</button>
				</form>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer_content">
			<div>
				<a href="">关于我们</a></br>
				<a href="">关于我们</a>
				<a href="">帮助中心</a></br>
				<a href="">加入我们</a>
				<a href="">堆糖收集工具</a>	</br>		
				<a href="">联系我们</a>
				<a href="">标签集</a></br>				
				<a href="">商务合作</a>
				<a href="">免责声明</a>
			</div>
			<div>
				<a href="">手机应用</a></br>
				<a href="">堆糖客户端</a>
				<a href="">爱疯了壁纸</a></br>	
				<a href="">堆糖良品购</a>
			</div>
			<div>
				<img src="__IMG__/code.jpeg">
				<p>扫描二维码</br>下载堆糖手机客户端</p>
			</div>
			<div>
				<a href="">关注我们</a> </br>
				<a href="">新浪微博</a>
				<a href="">微信</a>
			</div>
			<div>
				<a href="">友情链接</a> </br>
				<a href="">爱物网</a>
				<a href="">东方女性网</a></br>
				<a href="">肉丁网</a>
				<a href="">LADYMAX时尚</a></br>	
				<a href="">美食美酒网</a>
				<a href="">携程攻略</a></br>
				<a href="">传导体招聘</a>
				<a href="">更多..</a>
			</div>
			<p>©2017 duitang.com 版权所有。沪ICP备10038086号-3</p>
		</div>
	</div>
</body>
</html>