<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>堆糖 美好生活研究所</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/login.css">
	<link href="__ROOT__/favicon.ico" rel="SHORTCUT ICON">
	<script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/check.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#login").validate({
			rules:{
				userid:{
					required:true,
					digits:true,
					minlength:10,
					maxlength:10
				},
				userpa:{
					required:true,
					minlength:6,
					maxlength:16
				},
			},
			messages:{
				userid:{
					required:"<img src='__IMG__/error_16.png'><span class='tips'>请输入你的工号</span",
					digits:"<img src='__IMG__/error_16.png'><span class='tips'>工号必须是数字</span",
					minlength:"<img src='__IMG__/error_16.png'><span class='tips'>工号为10位数工</span",
					maxlength:"<img src='__IMG__/error_16.png'><span class='tips'>工号为10位数工</span"
				},
				userpa:{
					required:"<img src='__IMG__/error_16.png'><span class='tips'>请输入密码</span>",
					minlength:"<img src='__IMG__/error_16.png'><span class='tips'>密码至少6个中文字符</span>",
					maxlength:"<img src='__IMG__/error_16.png'><span class='tips'>密码最多16个中文字符</span>"
				}
			}
			});
	})
	</script>
</head>
<body>
	<div class="content">
		<div class="login_head">登陆
			<a href="__ROOT__/index.php/forum/index/index"><img src="__IMG__/close.png"></a>
		</div>
		<div class="login">
			<div class="login_form">
				<form  action="{:url('do_login')}" method="post" id="login" >
					<input type="text" placeholder="请输入你的工号" name="userid"></br>
					<input type="password" placeholder="密码" name="userpa">
					<span>
						<input type="text" placeholder="验证码" id="input" name="input">
						<input type = "button" id="code" onclick="createCode()"/>  
					</span>
					<div class="clearfix">
						<p><input type="checkbox" checked="checked" id="rem">记住我</p>
						<a href="" class="forgot">忘记密码</a>
					</div>					
					<input class="button" type = "submit" value = "登录"/></br>
					<a href=""><img src="__IMG__/login_choice.png"></a>
				</form>
			</div>
			<div class="login_code">
				<a href=""><img src="__IMG__/login_code.png"></a>
				<p>扫一扫下载手机客户端</br>
				浏览体验更佳</p>
			</div>
		</div>
		<div class="login_footer">还没有账号？立即注册</div>
	</div>
</body>
</html>